body{
	margin: 0;
	font-family: Roboto;
	background-color: #FAFAFA;
	height: 100%;
}
paper-toast{
	z-index: 100;
}
form {
	bottom: 0;
	position: absolute;
	width: 100%;
	display: flex;
	padding: 12px 0;
	flex-direction: row;
	align-items: center;
	background-color: #F5F5F5;
	border-top: 1px solid #E0E0E0;
	margin: 0;
}
paper-toolbar h2{
	font-weight: 400;
	margin-left: 24px;
}
paper-fab{
	margin: 0 12px;
}			
paper-input{
	flex: 1;
	margin: 0 12px;			  
}
paper-fab.paper-fab-0{
	background: #00BFA5;
}			
#topBar.paper-toolbar{
	background-color: #00796B;
}
paper-toolbar.paper-toolbar-0{
	background: #009688;
}
paper-toolbar.tall{
	height: 280px;
}
.paper-scroll-header-panel-0 #mainContainer.paper-scroll-header-panel{
	bottom: 85px;
}
paper-card{
	display: block;
	width: 80%;
	max-width: 860px;
	margin: 0 auto;
	top: -178px;
	height: calc(100% - 132px);
}
.heading{
	height: 96px;
	line-height: 96px;
	padding: 0 48px;
	background-color: #EEEEEE;
}
.heading h1{
	margin: 0;
	font-size: 1.5em;
	font-weight: 400;
	margin-right: 24px;
}
.heading p {
	margin: 0;
	margin-top: 2px;
	margin-left: 2px;
	color: #616161;
	font-weight: 400;
	font-size: 0.9em;
}
.content{
	height: calc(100% - 178px);
	position: static;
	overflow-y: auto;
}
#img_text_div{
    padding: 16px 20px 4px 20px;
	border-bottom:1px solid #E0E0E0;
	min-height: 62px;
}
#text_div{
    padding-top: 4px;
    margin-bottom: 18px;	
	margin-left: 72px;
}
img{
	float: left;
	border-radius:50%
}
#item_human{
	flex: 0;margin: 0px;
	font-weight: 600;
}
#item_text{
	margin: 4px 0px;
}
.paper-input-container-0 .unfocused-line.paper-input-container{
	background: none;
}
.paper-input-container-0 .focused-line.paper-input-container{
	background: none;
}
paper-input-container{
	margin-bottom: 8px;
	margin-top: -10px;
	margin-left: 12px;
}
@media screen and (max-width: 640px){
	paper-card {
		width: 100%;
		top: -280px;
		height: 100%;		
	}
	.content {
		margin-top: 0px; 
		height: calc(100% - 130px);
		position: static;
		overflow-y: auto;	
	}
	.heading {
		height: 68px;
		padding: 0 48px;
		background-color: #009688;
		color: white;
	}
	.heading h1{
		padding-top: 0;
		line-height: 72px;	
	}
	.heading p{
		color: white;
		margin-left: 1px;
	}
	form{
		padding: 4px 0;
	}
	paper-fab{
		height: 48px;
		width: 48px;
	}
}